.SeccionFooter{
    background-color: cadetblue;
    footer{
        .ContenedorFooter{
            width: 100%;
            .ContImagen{
                display: flex;
                justify-content: center;
                margin-bottom: 20px;
            }
            .ContNavegacion{
                display: flex;
                justify-content: center;
                .PadreNavegacion{
                    justify-content: center;
                    flex-wrap: wrap;
                    width: 100%;
                    ul{
                        display: flex;
                        justify-content: center;
                        li{
                            list-style: none;
                            a{
                                text-decoration: none;
                                color: white;
                                margin: 20px;
                            }
                        }
                    }
                }
                .PadreCopyright{
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    color: white;
                    p{
                        border-top: 2px solid rgb(117, 179, 184);
                        padding: 20px;
                        a{
                            text-decoration: none;
                            color: white;
                            &:hover{
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}
