header{
    display: flex;
    justify-content: center;
    padding: 1em;
    background-color: rgb(224, 226, 247);
    .navbar{
        width: 100%;
        .container-fluid{
            background-color:   rgb(224, 226, 247);
            .Navbar-logo{
                display: flex;
                justify-content: flex-start;
            }
        }
    }
}