header{
    display: flex;
    justify-content: center;
    padding: 1em;
    background-color: rgb(185, 221, 221);
    .navbar{
        width: 100%;
        .container-fluid{
            background-color:  rgb(185, 221, 221);
            .bg-light{
                background-color:  rgb(185, 221, 221);

            }
            .Navbar-logo{
                display: flex;
                justify-content: flex-start;
            }
        }
    }
}