
            .carousel{
                display: flex;
                justify-content: center;
                .ContenedorCarrusel{
                    width: 90%;
                }
            }
            
            
            .SeccionAboutUs{
                display: flex;
                justify-content: center;
                width: 100%;
                .ContenedorAboutUs{
                    .TituloPrincipal{
                        text-align: center;
                        margin: 50px;
                    }
                    .PadreAboutUs{
                        margin-top: 100px;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;
                        .HijoAboutUs1{
                            width: 50%;
                            h3{
                                text-align: center;
                                color: #404f61;
                            }
                            .contenedorP{
                                display: flex;
                                justify-content: center;
                                p{
                                    text-align: center;
                                    width: 50%;
                                    color: #3d3232;
                                }
                            }
                        }
                        .HijoAboutUs2{
                            width: 50%;
                            h3{
                                text-align: center;
                                color: #404f61;
                            }
                            .contenedorP{
                                display: flex;
                                justify-content: center;
                                p{
                                    text-align: center;
                                    width: 50%;
                                    color: #3d3232;
                                }
                            }
                        }
                        .HijoAboutUs3{
                            width: 50%;
                            margin-top: 100px;
                            h3{
                                text-align: center;
                                color: #404f61;
                            }
                            .contenedorP{
                                display: flex;
                                justify-content: center;
                                p{
                                    text-align: center;
                                    width: 50%;
                                    color: #3d3232;
                                }
                            }
                        }
                        .HijoAboutUs4{
                            width: 50%;
                            margin-top: 100px;
                            h3{
                                text-align: center;
                                color: #404f61;
                            }
                            .contenedorP{
                                display: flex;
                                justify-content: center;
                                p{
                                    text-align: center;
                                    width: 50%;
                                    color: #3d3232;
                                }
                            }
                        }
                    }
                }            
            }

