$color_principal: rgb(70, 126, 190); 
$color_nav1: rgb(216, 225, 241);
$color_nav2:  rgb(182, 171, 247);
$color_footerback:  rgb(253, 161, 161);
$color_borderform: rgb(151, 151, 151);
$color_shadow: rgb(140, 139, 139);
$color_lightshadow: rgba(188, 188, 188, 0.582);
$color_borderwhite: rgb(230, 227, 227);
$color_darkblue: rgb(46, 46, 65);