@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@500&display=swap");
.seccionprincipal {
  background-color: #467ebe; }
  .seccionprincipal header .DIVDETODO {
    display: flex; }
    .seccionprincipal header .DIVDETODO .principalNavBar {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      text-align: center;
      width: 100%;
      margin-top: 40px;
      margin-bottom: 40px; }
      .seccionprincipal header .DIVDETODO .principalNavBar .NavBar ul {
        text-align: center; }
        .seccionprincipal header .DIVDETODO .principalNavBar .NavBar ul li {
          margin-bottom: 5px;
          padding: 20px;
          display: inline;
          list-style: none;
          font-size: 20px;
          font-family: 'Lexend Deca', sans-serif; }
          .seccionprincipal header .DIVDETODO .principalNavBar .NavBar ul li a {
            text-decoration: none;
            color: white; }
            .seccionprincipal header .DIVDETODO .principalNavBar .NavBar ul li a:hover {
              color: #d8e1f1;
              transition: 0.2s;
              border-bottom: 5px solid #b6abf7;
              width: 110px;
              padding-bottom: 2px;
              cursor: pointer; }

@media screen and (max-width: 600px) {
  .NavBar li {
    margin-bottom: 5px;
    padding: 15px;
    display: inline;
    list-style: none;
    font-size: 16px;
    font-family: 'Lexend Deca', sans-serif; } }

@media screen and (max-width: 480px) {
  .NavBar li {
    margin-bottom: 5px;
    padding: 10px;
    display: inline;
    list-style: none;
    font-size: 14px;
    font-family: 'Lexend Deca', sans-serif; } }

* {
  margin: 0%;
  padding: 0%; }
  * body {
    font-family: 'Inter', sans-serif;
    height: 100vh; }

.seccionfooter footer {
  display: flex;
  background-color: #467ebe; }
  .seccionfooter footer .divcontenedor {
    display: flex;
    width: 100%; }
    .seccionfooter footer .divcontenedor .divfooterpadre {
      width: 20%; }
      .seccionfooter footer .divcontenedor .divfooterpadre .footerul {
        margin-top: 15px;
        list-style: none; }
        .seccionfooter footer .divcontenedor .divfooterpadre .footerul h4 {
          margin-left: 50px;
          color: white;
          font-size: 20px; }
        .seccionfooter footer .divcontenedor .divfooterpadre .footerul li {
          padding: 1px; }
          .seccionfooter footer .divcontenedor .divfooterpadre .footerul li a {
            margin-left: 50px;
            text-decoration: none;
            color: white;
            font-size: 15px; }
            .seccionfooter footer .divcontenedor .divfooterpadre .footerul li a:hover {
              color: #fda1a1; }
    .seccionfooter footer .divcontenedor .divfooterpadre2 {
      margin-top: 15px;
      width: 80%; }
      .seccionfooter footer .divcontenedor .divfooterpadre2 .footerul2 h3 {
        font-size: 20px;
        color: white; }
      .seccionfooter footer .divcontenedor .divfooterpadre2 .footerul2 .liconos {
        width: 100%;
        list-style: none;
        display: inline; }
        .seccionfooter footer .divcontenedor .divfooterpadre2 .footerul2 .liconos a {
          text-decoration: none; }
          .seccionfooter footer .divcontenedor .divfooterpadre2 .footerul2 .liconos a i {
            padding: 6px;
            font-size: 30px;
            color: white; }

@media screen and (max-width: 768px) {
  .divcontenedor .divfooterpadre {
    width: 100%;
    display: flex;
    justify-content: center; }
    .divcontenedor .divfooterpadre .footerul {
      list-style: none;
      margin-top: 10px; }
      .divcontenedor .divfooterpadre .footerul h4 {
        text-align: center;
        color: white;
        font-size: 20px;
        margin-left: 0;
        margin-bottom: 6px; }
      .divcontenedor .divfooterpadre .footerul li {
        display: inline; }
        .divcontenedor .divfooterpadre .footerul li a {
          text-decoration: none;
          color: white;
          font-size: 15px;
          margin-left: 0; }
    .divcontenedor .divfooterpadre .divfooterpadre2 {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-left: 0;
      margin-top: 0; }
      .divcontenedor .divfooterpadre .divfooterpadre2 .footerul2 h3 {
        font-size: 20px;
        color: white;
        margin-bottom: 6px; }
      .divcontenedor .divfooterpadre .divfooterpadre2 .footerul2 .liconos {
        width: 100%;
        list-style: none;
        display: inline; }
        .divcontenedor .divfooterpadre .divfooterpadre2 .footerul2 .liconos a {
          text-decoration: none; }
          .divcontenedor .divfooterpadre .divfooterpadre2 .footerul2 .liconos a i {
            padding: 6px;
            font-size: 25px;
            color: white; } }

@media screen and (max-width: 600px) {
  .divcontenedor {
    width: 100%;
    flex-wrap: wrap; }
    .divcontenedor .divfooterpadre {
      width: 100%;
      display: flex;
      justify-content: center; }
      .divcontenedor .divfooterpadre .footerul {
        list-style: none;
        margin-top: 10px; }
        .divcontenedor .divfooterpadre .footerul h4 {
          text-align: center;
          color: white;
          font-size: 15px;
          margin-left: 0;
          margin-bottom: 6px; }
        .divcontenedor .divfooterpadre .footerul .footerli {
          display: inline; }
          .divcontenedor .divfooterpadre .footerul .footerli a {
            text-decoration: none;
            color: white;
            font-size: 12px;
            margin-left: 0; }
      .divcontenedor .divfooterpadre .divfooterpadre2 {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-left: 0;
        margin-top: 0; }
        .divcontenedor .divfooterpadre .divfooterpadre2 .footerul2 h3 {
          font-size: 15px;
          color: white;
          margin-bottom: 6px; }
        .divcontenedor .divfooterpadre .divfooterpadre2 .footerul2 .liconos {
          width: 100%;
          list-style: none;
          display: inline; }
          .divcontenedor .divfooterpadre .divfooterpadre2 .footerul2 .liconos a {
            text-decoration: none; }
            .divcontenedor .divfooterpadre .divfooterpadre2 .footerul2 .liconos a i {
              padding: 6px;
              font-size: 20px;
              color: white; } }

@media screen and (max-width: 480px) {
  .divcontenedor {
    width: 100%;
    flex-wrap: wrap; }
    .divcontenedor .divfooterpadre {
      width: 100%;
      display: flex;
      justify-content: center; }
      .divcontenedor .divfooterpadre .footerul {
        list-style: none;
        margin-top: 10px; }
        .divcontenedor .divfooterpadre .footerul h4 {
          text-align: center;
          color: white;
          font-size: 15px;
          margin-left: 0;
          margin-bottom: 6px; }
        .divcontenedor .divfooterpadre .footerul .footerli {
          display: inline; }
          .divcontenedor .divfooterpadre .footerul .footerli a {
            text-decoration: none;
            color: white;
            font-size: 12px;
            margin-left: 0; }
      .divcontenedor .divfooterpadre .divfooterpadre2 {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-left: 0;
        margin-top: 10; }
        .divcontenedor .divfooterpadre .divfooterpadre2 .footerul2 h3 {
          font-size: 15px;
          color: white;
          margin-bottom: 6px; }
        .divcontenedor .divfooterpadre .divfooterpadre2 .footerul2 .liconos {
          width: 100%;
          list-style: none;
          display: inline; }
          .divcontenedor .divfooterpadre .divfooterpadre2 .footerul2 .liconos a {
            text-decoration: none; }
            .divcontenedor .divfooterpadre .divfooterpadre2 .footerul2 .liconos a i {
              padding: 6px;
              font-size: 20px;
              color: white; } }

.contactanosimagen {
  display: flex;
  justify-content: center; }
  .contactanosimagen img {
    margin: 40px;
    width: 80%;
    margin-right: 30px;
    height: 500px; }

.PadreContacto {
  display: flex;
  width: 100%; }
  .PadreContacto .ContenedorDatos {
    width: 50%;
    margin-top: 80px;
    margin-left: 50px; }
    .PadreContacto .ContenedorDatos .h2editar0 {
      color: #467ebe;
      margin-bottom: 15px;
      margin-top: 10px;
      font-size: 1.5em; }
      .PadreContacto .ContenedorDatos .h2editar0:hover {
        border-bottom: 5px solid #467ebe;
        width: 150px;
        padding-bottom: 2px;
        cursor: pointer;
        color: #467ebe;
        transition: 0.4s; }
    .PadreContacto .ContenedorDatos p {
      padding: 6px; }
      .PadreContacto .ContenedorDatos p a {
        text-decoration: none;
        color: black; }
    .PadreContacto .ContenedorDatos .h2editar {
      color: #467ebe;
      margin-bottom: 15px;
      margin-top: 10px;
      font-size: 1.5em; }
      .PadreContacto .ContenedorDatos .h2editar:hover {
        border-bottom: 5px solid #d8e1f1;
        width: 200px;
        padding-bottom: 2px;
        cursor: pointer;
        color: #467ebe;
        transition: 0.4s; }
    .PadreContacto .ContenedorDatos .SocialMedia {
      display: flex;
      justify-content: flex-start; }
      .PadreContacto .ContenedorDatos .SocialMedia ul li {
        list-style: none;
        display: inline; }
        .PadreContacto .ContenedorDatos .SocialMedia ul li i {
          font-size: 35px;
          padding: 5px;
          color: #467ebe; }
  .PadreContacto .ContenedorFormulario {
    width: 50%; }
    .PadreContacto .ContenedorFormulario .CajaFormulario {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 80px; }
      .PadreContacto .ContenedorFormulario .CajaFormulario form {
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center; }
        .PadreContacto .ContenedorFormulario .CajaFormulario form label {
          color: #467ebe;
          width: 100%;
          margin-bottom: 6px;
          display: flex;
          justify-content: flex-start; }
        .PadreContacto .ContenedorFormulario .CajaFormulario form .texto1 {
          border: 1px solid #979797;
          border-radius: 2px;
          margin-bottom: 15px;
          width: 500px;
          padding: 15px; }
        .PadreContacto .ContenedorFormulario .CajaFormulario form .texto2 {
          border: 1px solid #979797;
          border-radius: 2px;
          margin-bottom: 15px;
          width: 500px;
          height: 120px;
          padding: 15px; }
        .PadreContacto .ContenedorFormulario .CajaFormulario form .texto3 {
          border: 1px;
          border-radius: 2px;
          padding: 13px;
          width: 100px;
          background-color: #467ebe;
          color: white; }

@media screen and (max-width: 1024px) {
  .PadreContacto .ContenedorFormulario .texto1 {
    border: 1px solid #8c8b8b;
    border-radius: 2px;
    margin-bottom: 15px;
    width: 400px;
    padding: 15px; }
  .PadreContacto .ContenedorFormulario .texto2 {
    border: 1px solid #8c8b8b;
    border-radius: 2px;
    margin-bottom: 15px;
    width: 400px;
    height: 120px;
    padding: 15px; }
  .PadreContacto .ContenedorFormulario .texto3 {
    border: 1px;
    border-radius: 2px;
    padding: 13px;
    width: 100px;
    background-color: #467ebe;
    color: white; }
  .contactanosimagen {
    display: flex;
    justify-content: center; }
    .contactanosimagen img {
      margin: 40px;
      width: 80%;
      margin-right: 30px;
      height: 400px; } }

@media screen and (max-width: 768px) {
  .PadreContacto .ContenedorFormulario .texto1 {
    border: 1px solid rgba(188, 188, 188, 0.582);
    border-radius: 2px;
    margin-bottom: 15px;
    width: 300px;
    padding: 15px; }
  .PadreContacto .ContenedorFormulario .texto2 {
    border: 1px solid rgba(188, 188, 188, 0.582);
    border-radius: 2px;
    margin-bottom: 15px;
    width: 300px;
    height: 120px;
    padding: 15px; }
  .PadreContacto .ContenedorFormulario .texto3 {
    border: 1px;
    border-radius: 2px;
    padding: 13px;
    width: 100px;
    background-color: #467ebe;
    color: white; }
  .contactanosimagen {
    display: flex;
    justify-content: center; }
    .contactanosimagen img {
      margin: 40px;
      width: 80%;
      margin-right: 30px;
      height: 300px; } }

@media screen and (max-width: 600px) {
  .PadreContacto {
    display: flex;
    width: 100%;
    height: 900px;
    flex-wrap: wrap; }
    .PadreContacto .ContenedorDatos {
      width: 100%;
      margin-top: 80px;
      margin-left: 0; }
      .PadreContacto .ContenedorDatos .h2editar0 {
        text-align: center;
        color: #467ebe;
        margin-bottom: 15px;
        margin-top: 10px;
        font-size: 1.5em; }
        .PadreContacto .ContenedorDatos .h2editar0:hover {
          border-bottom: 5px solid #b6abf7;
          width: 150px;
          padding-bottom: 2px;
          cursor: pointer;
          color: #97a3fa;
          transition: 0.4s; }
        .PadreContacto .ContenedorDatos .h2editar0 p {
          padding: 6px;
          text-align: center; }
          .PadreContacto .ContenedorDatos .h2editar0 p a {
            text-decoration: none;
            color: black; }
      .PadreContacto .ContenedorDatos .h2editar {
        text-align: center;
        color: #467ebe;
        margin-bottom: 15px;
        margin-top: 10px;
        font-size: 1.5em; }
        .PadreContacto .ContenedorDatos .h2editar:hover {
          border-bottom: 5px solid #b6abf7;
          width: 200px;
          padding-bottom: 2px;
          cursor: pointer;
          color: #b6abf7;
          transition: 0.4s; }
      .PadreContacto .ContenedorDatos .SocialMedia {
        display: flex;
        justify-content: center; }
        .PadreContacto .ContenedorDatos .SocialMedia li {
          list-style: none;
          display: inline;
          justify-content: center; }
          .PadreContacto .ContenedorDatos .SocialMedia li a {
            font-size: 35px;
            padding: 5px;
            color: #467ebe; }
    .PadreContacto .ContenedorFormulario {
      width: 100%; }
      .PadreContacto .ContenedorFormulario .CajaFormulario {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 80px; }
        .PadreContacto .ContenedorFormulario .CajaFormulario form {
          height: 500px;
          display: flex;
          flex-direction: column;
          align-items: center; }
          .PadreContacto .ContenedorFormulario .CajaFormulario form .texto1 {
            border: 1px solid rgba(188, 188, 188, 0.582);
            border-radius: 2px;
            margin-bottom: 15px;
            width: 500px;
            padding: 15px; }
          .PadreContacto .ContenedorFormulario .CajaFormulario form .texto2 {
            border: 1px solid rgba(188, 188, 188, 0.582);
            border-radius: 2px;
            margin-bottom: 15px;
            width: 500px;
            height: 120px;
            padding: 15px; }
          .PadreContacto .ContenedorFormulario .CajaFormulario form .texto3 {
            border: 1px;
            border-radius: 2px;
            padding: 13px;
            width: 100px;
            background-color: #467ebe;
            color: white; }
  .contactanosimagen {
    display: flex;
    justify-content: center; }
    .contactanosimagen img {
      margin: 40px;
      width: 80%;
      margin-right: 30px;
      height: 300px; } }

@media screen and (max-width: 480px) {
  .PadreContacto {
    display: flex;
    width: 100%;
    height: 760px;
    flex-wrap: wrap; }
    .PadreContacto .ContenedorDatos {
      width: 100%;
      margin-top: 80px;
      margin-left: 0; }
      .PadreContacto .ContenedorDatos .h2editar0 {
        text-align: center;
        color: #467ebe;
        margin-bottom: 15px;
        margin-top: 10px;
        font-size: 1.5em; }
        .PadreContacto .ContenedorDatos .h2editar0:hover {
          border-bottom: 5px solid #b6abf7;
          width: 150px;
          padding-bottom: 2px;
          cursor: pointer;
          color: #b6abf7;
          transition: 0.4s; }
        .PadreContacto .ContenedorDatos .h2editar0 p {
          padding: 6px;
          text-align: center; }
          .PadreContacto .ContenedorDatos .h2editar0 p a {
            text-decoration: none;
            color: black; }
      .PadreContacto .ContenedorDatos .h2editar {
        text-align: center;
        color: #467ebe;
        margin-bottom: 15px;
        margin-top: 10px;
        font-size: 1.5em; }
        .PadreContacto .ContenedorDatos .h2editar:hover {
          border-bottom: 5px solid #d8e1f1;
          width: 200px;
          padding-bottom: 2px;
          cursor: pointer;
          color: #b6abf7;
          transition: 0.4s; }
      .PadreContacto .ContenedorDatos .SocialMedia {
        display: flex;
        justify-content: center; }
        .PadreContacto .ContenedorDatos .SocialMedia li {
          list-style: none;
          display: inline;
          justify-content: center; }
          .PadreContacto .ContenedorDatos .SocialMedia li a {
            font-size: 35px;
            padding: 5px;
            color: #467ebe; }
    .PadreContacto .ContenedorFormulario {
      width: 100%; }
      .PadreContacto .ContenedorFormulario .CajaFormulario {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 80px; }
        .PadreContacto .ContenedorFormulario .CajaFormulario form {
          height: 500px;
          display: flex;
          flex-direction: column;
          align-items: center; }
          .PadreContacto .ContenedorFormulario .CajaFormulario form .texto1 {
            border: 1px solid #8c8b8b;
            border-radius: 2px;
            margin-bottom: 15px;
            width: 300px;
            padding: 15px; }
          .PadreContacto .ContenedorFormulario .CajaFormulario form .texto2 {
            border: 1px solid #8c8b8b;
            border-radius: 2px;
            margin-bottom: 15px;
            width: 300px;
            height: 120px;
            padding: 15px; }
          .PadreContacto .ContenedorFormulario .CajaFormulario form .texto3 {
            border: 1px;
            border-radius: 2px;
            padding: 13px;
            width: 100px;
            background-color: #467ebe;
            color: white; }
  .contactanosimagen {
    display: flex;
    justify-content: center; }
    .contactanosimagen img {
      margin: 40px;
      width: 80%;
      margin-right: 30px;
      height: 200px; } }

.opciones {
  display: flex;
  justify-content: center;
  margin-top: 90px;
  height: 300px;
  width: 100%; }
  .opciones .div1 li {
    display: inline;
    list-style: none;
    text-decoration: none;
    width: 100%; }
    .opciones .div1 li i {
      width: 100%;
      text-align: center;
      font-size: 80px; }
    .opciones .div1 li .oph3 {
      margin: 6px;
      text-align: center; }
    .opciones .div1 li .opcionp {
      font-size: 14px;
      margin: 6px;
      padding: 10px;
      text-align: center;
      align-items: center; }
  .opciones .div2 .liopciones i {
    width: 100%;
    text-align: center;
    font-size: 80px; }
  .opciones .div2 .liopciones .oph3 {
    margin: 6px;
    text-align: center; }
  .opciones .div2 .liopciones .opcionp {
    font-size: 14px;
    margin: 6px;
    padding: 10px;
    text-align: center;
    align-items: center; }
  .opciones .div3 .liopciones i {
    width: 100%;
    text-align: center;
    font-size: 80px; }
  .opciones .div3 .liopciones .oph3 {
    margin: 6px;
    text-align: center; }
  .opciones .div3 .liopciones .opcionp {
    font-size: 14px;
    margin: 6px;
    padding: 10px;
    text-align: center;
    align-items: center; }

@media screen and (max-width: 600px) {
  .opciones {
    display: flex;
    justify-content: center;
    margin-top: 90px;
    height: 500px;
    width: 100%;
    flex-wrap: wrap; }
    .opciones .div1 .liopciones {
      display: inline;
      list-style: none;
      width: 100%;
      margin: 10px; }
      .opciones .div1 .liopciones i {
        display: flex;
        justify-content: center;
        font-size: 65px; }
      .opciones .div1 .liopciones .oph3 {
        font-size: 15px;
        text-align: center; }
      .opciones .div1 .liopciones .opcionp {
        font-size: 14px;
        padding: 5px;
        text-align: center;
        align-items: center; }
    .opciones .div3 {
      flex-wrap: wrap; } }

.seccionfotos {
  display: flex;
  justify-content: center; }
  .seccionfotos .padrefotos {
    height: 1300px;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-top: 10px; }
    .seccionfotos .padrefotos .hijofoto img {
      width: 100%;
      height: 600px; }
    .seccionfotos .padrefotos .hijofoto2 img {
      width: 100%;
      height: 600px; }

.bannerseguinos {
  display: flex;
  justify-content: center; }
  .bannerseguinos .divseguinos img {
    width: 100%;
    height: 300px; }

@media screen and (max-width: 1200px) {
  .padrefotos {
    background-color: white;
    height: 1030px; }
    .padrefotos .hijofoto img {
      width: 100%px;
      height: 500px; }
    .padrefotos .hijofoto2 img {
      width: 100%px;
      height: 500px; }
  .bannerseguinos {
    display: flex;
    justify-content: center; }
    .bannerseguinos .divseguinos img {
      width: 1100px;
      height: 250px; } }

@media screen and (max-width: 1024px) {
  .padrefotos {
    background-color: white;
    height: 1030px; }
    .padrefotos .hijofoto img {
      width: 1100px;
      height: 500px; }
    .padrefotos .hijofoto2 img {
      width: 1100px;
      height: 500px; }
  .bannerseguinos {
    display: flex;
    justify-content: center; }
    .bannerseguinos .divseguinos img {
      width: 100%;
      height: 250px; } }

@media screen and (max-width: 1024px) {
  .padrefotos {
    background-color: white;
    height: 600px; }
    .padrefotos .hijofoto img {
      width: 100%;
      height: 300px; }
    .padrefotos .hijofoto2 img {
      width: 100%;
      height: 300px; }
  .bannerseguinos {
    display: flex;
    justify-content: center; }
    .bannerseguinos .divseguinos img {
      width: 100%;
      height: 250px; } }

@media screen and (max-width: 600px) {
  .padrefotos {
    background-color: white;
    height: 600px; }
    .padrefotos .hijofoto img {
      width: 100%px;
      height: 330px; }
    .padrefotos .hijofoto2 img {
      width: 100%px;
      height: 330px; }
  .bannerseguinos {
    display: flex;
    justify-content: center; }
    .bannerseguinos .divseguinos img {
      width: 100%;
      height: 230px; } }

@media screen and (max-width: 480px) {
  .padrefotos {
    background-color: white;
    height: 450px; }
    .padrefotos .hijofoto img {
      width: 100%;
      height: 250px; }
    .padrefotos .hijofoto2 img {
      width: 100%;
      height: 250px; }
  .bannerseguinos {
    display: flex;
    justify-content: center; }
    .bannerseguinos .divseguinos img {
      width: 100%;
      height: 100px; } }

.seccionNosotros .padreDivNosotros {
  display: flex;
  width: 100%; }
  .seccionNosotros .padreDivNosotros .divNosotros {
    margin-top: 20px;
    width: 50%; }
    .seccionNosotros .padreDivNosotros .divNosotros h2 {
      text-align: center;
      font-family: 'Lexend Deca', sans-serif;
      color: #467ebe; }
    .seccionNosotros .padreDivNosotros .divNosotros p {
      margin-top: 20px;
      margin-bottom: 100px;
      margin-left: 80px;
      width: 500px;
      line-height: 25px;
      direction: ltr; }
  .seccionNosotros .padreDivNosotros .nosotrosImagen {
    display: flex;
    justify-content: center;
    width: 50%; }

.seccionNosotros .padreDivNosotros2 {
  display: flex;
  width: 100%; }
  .seccionNosotros .padreDivNosotros2 .divNosotros2 {
    width: 50%; }
    .seccionNosotros .padreDivNosotros2 .divNosotros2 h2 {
      text-align: center;
      font-family: 'Lexend Deca', sans-serif;
      color: #467ebe; }
    .seccionNosotros .padreDivNosotros2 .divNosotros2 p {
      margin-top: 20px;
      margin-bottom: 100px;
      margin-left: 80px;
      width: 500px;
      line-height: 25px;
      direction: rtl; }
  .seccionNosotros .padreDivNosotros2 .nosotrosImagen2 {
    width: 50%;
    display: flex;
    justify-content: center; }

.seccionNosotros .padreDivNosotros3 {
  display: flex;
  width: 100%; }
  .seccionNosotros .padreDivNosotros3 .divNosotros3 h2 {
    text-align: center;
    font-family: 'Lexend Deca', sans-serif;
    color: #467ebe; }
  .seccionNosotros .padreDivNosotros3 .divNosotros3 p {
    margin-top: 20px;
    margin-bottom: 100px;
    margin-left: 80px;
    width: 500px;
    line-height: 25px;
    direction: ltr; }

.seccionNosotros .padreDivNosotros4 {
  display: flex;
  width: 100%; }
  .seccionNosotros .padreDivNosotros4 .nosotrosImagen4 {
    width: 50%;
    display: flex;
    justify-content: center; }
    .seccionNosotros .padreDivNosotros4 .nosotrosImagen4 .img {
      width: 400px;
      border: 1px solid #e6e3e3;
      border-radius: 200px;
      height: 400px; }
  .seccionNosotros .padreDivNosotros4 .divNosotros4 {
    width: 50%; }
    .seccionNosotros .padreDivNosotros4 .divNosotros4 h2 {
      text-align: center;
      font-family: 'Lexend Deca', sans-serif;
      color: #467ebe; }
    .seccionNosotros .padreDivNosotros4 .divNosotros4 p {
      margin-top: 20px;
      margin-bottom: 100px;
      margin-left: 80px;
      width: 500px;
      line-height: 25px;
      direction: rtl; }

.row {
  margin-right: 0; }
  .row .col .card {
    display: flex;
    margin: 10px;
    width: 100%; }
  .row .col .ProductoForm {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0; }
    .row .col .ProductoForm .Formulario1 {
      height: 10%; }
      .row .col .ProductoForm .Formulario1 input {
        padding: 4px;
        border: 1px;
        border-radius: 5px;
        background-color: #467ebe;
        color: white;
        margin-bottom: 3px; }

.BottonsProduct {
  display: flex;
  justify-content: flex-start;
  height: 0; }
  .BottonsProduct form {
    display: inline; }
    .BottonsProduct form input {
      padding: 5px;
      border: 1px;
      border-radius: 5px;
      color: white;
      background-color: #467ebe; }

.Ver-masCard {
  margin-top: 100px;
  display: flex;
  justify-content: center; }

.FRMC-1 {
  display: flex;
  justify-content: center;
  width: 100%; }
  .FRMC-1 .CF-1 {
    display: flex;
    justify-content: center; }

.UniteFamily {
  color: #2e2e41;
  display: flex;
  justify-content: center;
  margin-top: 7vh;
  font-size: 3.5vh; }

@media screen and (max-width: 768px) {
  .UniteFamily {
    margin-top: 4vh;
    font-size: 2.5vh;
    text-align: center; }
  .divcontenedor .divfooterpadre {
    width: 100%;
    display: flex;
    justify-content: center; }
    .divcontenedor .divfooterpadre .footerul {
      list-style: none;
      margin-top: 10px; }
      .divcontenedor .divfooterpadre .footerul h4 {
        text-align: center;
        color: white;
        font-size: 20px;
        margin-left: 0;
        margin-bottom: 6px; }
      .divcontenedor .divfooterpadre .footerul li {
        display: inline; }
        .divcontenedor .divfooterpadre .footerul li a {
          text-decoration: none;
          color: white;
          font-size: 15px;
          margin-left: 0; }
    .divcontenedor .divfooterpadre .divfooterpadre2 {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-left: 0;
      margin-top: 0; }
      .divcontenedor .divfooterpadre .divfooterpadre2 .footerul2 h3 {
        font-size: 20px;
        color: white;
        margin-bottom: 6px; }
      .divcontenedor .divfooterpadre .divfooterpadre2 .footerul2 .liconos {
        width: 100%;
        list-style: none;
        display: inline; }
        .divcontenedor .divfooterpadre .divfooterpadre2 .footerul2 .liconos a {
          text-decoration: none; }
          .divcontenedor .divfooterpadre .divfooterpadre2 .footerul2 .liconos a i {
            padding: 6px;
            font-size: 25px;
            color: white; } }

@media screen and (max-width: 600px) {
  .UniteFamily {
    margin-top: 4vh;
    font-size: 2.5vh;
    text-align: center; }
  .divcontenedor {
    width: 100%;
    flex-wrap: wrap; }
    .divcontenedor .divfooterpadre {
      width: 100%;
      display: flex;
      justify-content: center; }
      .divcontenedor .divfooterpadre .footerul {
        list-style: none;
        margin-top: 10px; }
        .divcontenedor .divfooterpadre .footerul h4 {
          text-align: center;
          color: white;
          font-size: 15px;
          margin-left: 0;
          margin-bottom: 6px; }
        .divcontenedor .divfooterpadre .footerul .footerli {
          display: inline; }
          .divcontenedor .divfooterpadre .footerul .footerli a {
            text-decoration: none;
            color: white;
            font-size: 12px;
            margin-left: 0; }
      .divcontenedor .divfooterpadre .divfooterpadre2 {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-left: 0;
        margin-top: 0; }
        .divcontenedor .divfooterpadre .divfooterpadre2 .footerul2 h3 {
          font-size: 15px;
          color: white;
          margin-bottom: 6px; }
        .divcontenedor .divfooterpadre .divfooterpadre2 .footerul2 .liconos {
          width: 100%;
          list-style: none;
          display: inline; }
          .divcontenedor .divfooterpadre .divfooterpadre2 .footerul2 .liconos a {
            text-decoration: none; }
            .divcontenedor .divfooterpadre .divfooterpadre2 .footerul2 .liconos a i {
              padding: 6px;
              font-size: 20px;
              color: white; } }

@media screen and (max-width: 480px) {
  .UniteFamily {
    margin-top: 4vh;
    font-size: 2.2vh;
    text-align: center; }
  .divcontenedor {
    width: 100%;
    flex-wrap: wrap; }
    .divcontenedor .divfooterpadre {
      width: 100%;
      display: flex;
      justify-content: center; }
      .divcontenedor .divfooterpadre .footerul {
        list-style: none;
        margin-top: 10px; }
        .divcontenedor .divfooterpadre .footerul h4 {
          text-align: center;
          color: white;
          font-size: 15px;
          margin-left: 0;
          margin-bottom: 6px; }
        .divcontenedor .divfooterpadre .footerul .footerli {
          display: inline; }
          .divcontenedor .divfooterpadre .footerul .footerli a {
            text-decoration: none;
            color: white;
            font-size: 12px;
            margin-left: 0; }
      .divcontenedor .divfooterpadre .divfooterpadre2 {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-left: 0;
        margin-top: 10; }
        .divcontenedor .divfooterpadre .divfooterpadre2 .footerul2 h3 {
          font-size: 15px;
          color: white;
          margin-bottom: 6px; }
        .divcontenedor .divfooterpadre .divfooterpadre2 .footerul2 .liconos {
          width: 100%;
          list-style: none;
          display: inline; }
          .divcontenedor .divfooterpadre .divfooterpadre2 .footerul2 .liconos a {
            text-decoration: none; }
            .divcontenedor .divfooterpadre .divfooterpadre2 .footerul2 .liconos a i {
              padding: 6px;
              font-size: 20px;
              color: white; } }
